# Frontend Dependencies
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions

# Backend Dependencies
backend/__pycache__/
backend/.venv/
backend/venv/

# Next.js
frontend/.next/
frontend/out/
frontend/build/

# Testing
frontend/coverage/

# Env
.env*
frontend/.env*
backend/.env

# OS
.DS_Store
Thumbs.db
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# DB
*.db
*.sqlite
postgres-data/

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/

# Vercel
frontend/.vercel

# TypeScript
frontend/*.tsbuildinfo
frontend/next-env.d.ts

data/